.wrapper {
  margin: 0 0 0 0;
}

/* Style the header with a grey background and some padding */
header {
  overflow: hidden;
  background-color: #88FF88;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 35vw;
  align-items: center;
}

/* Style the header links */
header button {
  background-color: #ddd;
  color: black;
  text-align: center;
  text-decoration: none;
  margin-right: 10vw;
  height: 7vh;
  width: 5vw;
}

header button:hover {
  color: rgb(104, 95, 95);
}

header h1 {
  color: whitesmoke;
}
