.form-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -90%);
    border: solid;
    height: 40%;
    width: 50%;
    border-radius: 25px;
    text-align: center;
    border-color: #88FF88;
}

.container {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.form-group {

    display: flex;
    flex-direction: column;
    gap: 3vh;
    align-items: center;
    font-size: larger;

}

#formName {
    margin-left: 1vw;
}

#formPort {
    margin-left: 1.5vw;
}

#formURL {
    margin-left: 1vw;
}

.next-btn {

    width: 5vw;
    height: 5vh;

}

#finished-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

#file-list-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.1vh;
    overflow-y: scroll;
    height: 20vh;
    border: solid;
    border-width: 2px;
    border-radius: 0px 0px 10px 10px;
    width: 30vw;
    background-color:  rgb(230, 230, 230);
    text-align: center;
    
}

#file-list-header {

    display: flex;
    flex-direction: row;
    gap: 1vw;
    border: solid;
    border-bottom: none;
    border-width: 2px;
    height: 3.5vh;
    align-items: center;
    background-color:  rgb(211, 211, 211)

}

#return-btn {

    width: 3vw;
    border-bottom: none;
    border-top: none;
    border-left: none;
    border-right: solid;
    border-width: 2px;
    height: 3.5vh;
}

#return-btn:hover{

    cursor: pointer;
    background-color:  rgb(189, 189, 189)
}

.step-instruction {

    margin-bottom: 1vh;
    text-align: left;

}

.file {
    border: solid;
    border-width: 1px;
    width: 99%;
    border-radius: 5px;
    background-color: rgb(220, 220, 220);
}

.file:hover {

    background-color: rgb(200, 200, 200);
    cursor: pointer;

}


